{% extends 'common/base.html' %}
{% block title %}Perfil usuario{% endblock %}

{% block content %}
<section class="mt-2">
    <h2>Bienvenido, {{profile.user.name}} </h2>

    <h3>{{ profile.phone }}</h3>
    <h3>{{ profile.deparment }}</h3>
</section>

<h3 class="mt-5" >Tickets cerrados</h3>
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Creado por</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        {% if ticket.closed_at is not None %}
        <tr>
            <th scope="row">{{ ticket.id }}</th>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.user.name }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>{{ ticket.closed_at }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'ticket:detail_ticket' pk=ticket.id %}">
                    Ir a detalle
                </a>
            </td>
        </tr>

        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}